<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4" style="text-align: left" >
    <a routerLink="/" class="btn btn-default btn-lg" routerLinkActive="active">
      Go home
    </a>
  </div>
</div>

<div *ngIf="people" style="text-align:center" >
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Person</th>
      <th>Height</th>      
      <th>Mass</th>
      <th>Hair color</th>
      <th>Skin coloor</th>
      <th>Eye color</th>
      <th>Birth year</th>
      <th>Gender</th>
      <th>Homeworls</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <th>{{person.name}}</th>    
      <th>{{person.height}}</th>
      <th>{{person.mass}}</th>
      <th>{{person.hair_color}}</th>
      <th>{{person.skin_color}}</th>
      <th>{{person.eye_color}}</th>
      <th>{{person.birth_year}}</th>
      <th>{{person.gender}}</th>
      <th>{{person.homeworld}}</th>
      <th>
      <button type="button" class="btn btn-info">Edit</button>
    </th>
    </tr>
  </tbody>
  </table>



