
<a routerLink="/">Go home</a>
<h3>Id {{ _id }}</h3>
<p>
  planet-detail {{ _id }}
</p>

    <div class="form-group radio">
      <h4>Terrain</h4>
      <label class="center-block">{{ planet.climate }}</label>
    </div>
<div class="row">
    <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Planet</h6>
              <small class="text-muted"> {{ planet.name }} </small>
            </div>
        </li>
    </ul>
</div>

