
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4" style="text-align: left" >
    <a routerLink="/" class="btn btn-default btn-lg" routerLinkActive="active">
      Go home
    </a>
  </div>
</div>

<h3>List of planets</h3>
<p-table [columns]="cols" [value]="planets">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
            </td>
            <td>
                <button type="button" class="btn btn-info" (click)="goToDetail(rowData['url'])">Detail</button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        There are {{planets?.length}} planets
    </ng-template>
</p-table>


